<div class="container">
  <div class="row">
    <div class="col s8 offset-2">
      <!-- <div class="card-panel teal lighten-1">
        <h4 class="center text-white">Upload Image</h4>
      </div> -->
      <br>
      <br>
        <form #imageForm = ngForm>
      
          <div class="row">
            <div class="col">
                <img [src] = "imageUrl"  style="width:250px;height:250px">
            </div>
            <div class="col">
              <div class="container">
                <div class="row">
                  <!-- <input mat-raised-button color="primary" type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)"> -->
                  <!-- <button ngf-select ng-model="picFile" type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)"> Select Picture</button> -->
                  <label class="fileContainer">
                    <input type="file" #image accept="image/*" (change)="handleFileInput($event.target.files)">
                  </label>
                </div>
                <div class="row">
                  <button mat-raised-button color="primary"  type="submit"  (click) = "onSubmit(image.value)" >Submit</button>
                </div>
                <!-- [disabled]="image.value == '' || !imageForm" -->
                <div class="row">
                  <button mat-raised-button color="primary"  type="submit"  (click) = "onCancel()" [disabled]="image.value == '' || !imageForm">Cancel</button>
                </div>
                  <br>
                </div>
                
            </div>
          </div>
        </form>
      <!-- </div> -->
    </div>
  </div>
</div>

<mat-card class="container" [style.backgroundColor]="'#4054AD'" ><h5>AI Handwriting Reader</h5> </mat-card>
<br>
<br>
<div class="row jumbotron">
  <div *ngFor="let image of imageList; let i = index" class="col-md-4">
    <mat-card >
        <mat-card-header>
          <mat-card-title>Image {{i + 1}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">

        <mat-progress-bar *ngIf="progressBarDisplayList[i] == true" mode="indeterminate"></mat-progress-bar>

        <mat-card-content>
          <h3>
            {{outputList[i]}}
          </h3>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="runAnalysis(i)">Run Analysis</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
